<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>comingSoon.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,0},{322,601}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{322,601}}</string>
                <key>sourceSize</key>
                <string>{322,601}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>comingSoon.pvr.ccz</string>
            <key>size</key>
            <string>{322,601}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:28edca4b070797d4e5635ff76395fac6:1/1$</string>
            <key>textureFileName</key>
            <string>comingSoon.pvr.ccz</string>
        </dict>
    </dict>
</plist>
