<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>bar1.png</key>
            <dict>
                <key>frame</key>
                <string>{{135,1004},{698,62}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{698,62}}</string>
                <key>sourceSize</key>
                <string>{698,62}</string>
            </dict>
            <key>bar2.png</key>
            <dict>
                <key>frame</key>
                <string>{{69,1004},{698,62}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{698,62}}</string>
                <key>sourceSize</key>
                <string>{698,62}</string>
            </dict>
            <key>bar3.png</key>
            <dict>
                <key>frame</key>
                <string>{{3,1004},{698,62}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{698,62}}</string>
                <key>sourceSize</key>
                <string>{698,62}</string>
            </dict>
            <key>bottom.png</key>
            <dict>
                <key>frame</key>
                <string>{{3,3},{669,311}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{669,311}}</string>
                <key>sourceSize</key>
                <string>{669,311}</string>
            </dict>
            <key>dailyBar.png</key>
            <dict>
                <key>frame</key>
                <string>{{201,1004},{487,119}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{487,119}}</string>
                <key>sourceSize</key>
                <string>{487,119}</string>
            </dict>
            <key>daily_Btn.png</key>
            <dict>
                <key>frame</key>
                <string>{{686,201},{378,115}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{378,115}}</string>
                <key>sourceSize</key>
                <string>{378,115}</string>
            </dict>
            <key>daily_bar.png</key>
            <dict>
                <key>frame</key>
                <string>{{697,1660},{130,31}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{130,31}}</string>
                <key>sourceSize</key>
                <string>{130,31}</string>
            </dict>
            <key>daily_bar_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{421,1962},{142,39}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{142,39}}</string>
                <key>sourceSize</key>
                <string>{142,39}</string>
            </dict>
            <key>daily_bar_mask.png</key>
            <dict>
                <key>frame</key>
                <string>{{421,2005},{139,39}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{139,39}}</string>
                <key>sourceSize</key>
                <string>{139,39}</string>
            </dict>
            <key>daily_buy_img_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{881,787},{190,162}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{190,162}}</string>
                <key>sourceSize</key>
                <string>{190,162}</string>
            </dict>
            <key>daily_buy_img_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{881,981},{165,166}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{165,166}}</string>
                <key>sourceSize</key>
                <string>{165,166}</string>
            </dict>
            <key>daily_buy_img_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{445,1196},{225,228}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{225,228}}</string>
                <key>sourceSize</key>
                <string>{225,228}</string>
            </dict>
            <key>daily_num.png</key>
            <dict>
                <key>frame</key>
                <string>{{995,1929},{85,64}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{85,64}}</string>
                <key>sourceSize</key>
                <string>{85,64}</string>
            </dict>
            <key>daily_rewardBg.png</key>
            <dict>
                <key>frame</key>
                <string>{{298,318},{577,384}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{577,384}}</string>
                <key>sourceSize</key>
                <string>{577,384}</string>
            </dict>
            <key>f_daily_pageBtn_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{943,1151},{235,101}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{235,101}}</string>
                <key>sourceSize</key>
                <string>{235,101}</string>
            </dict>
            <key>f_daily_pageBtn_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{979,1631},{231,85}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{231,85}}</string>
                <key>sourceSize</key>
                <string>{231,85}</string>
            </dict>
            <key>ggg.png</key>
            <dict>
                <key>frame</key>
                <string>{{995,1866},{70,59}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{70,59}}</string>
                <key>sourceSize</key>
                <string>{70,59}</string>
            </dict>
            <key>got.png</key>
            <dict>
                <key>frame</key>
                <string>{{324,1334},{115,115}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{115,115}}</string>
                <key>sourceSize</key>
                <string>{115,115}</string>
            </dict>
            <key>img_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{676,3},{194,358}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{194,358}}</string>
                <key>sourceSize</key>
                <string>{194,358}</string>
            </dict>
            <key>img_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{201,1495},{200,270}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{200,270}}</string>
                <key>sourceSize</key>
                <string>{200,270}</string>
            </dict>
            <key>infoBar.png</key>
            <dict>
                <key>frame</key>
                <string>{{324,899},{431,117}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{431,117}}</string>
                <key>sourceSize</key>
                <string>{431,117}</string>
            </dict>
            <key>item1.png</key>
            <dict>
                <key>frame</key>
                <string>{{805,201},{193,294}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{193,294}}</string>
                <key>sourceSize</key>
                <string>{193,294}</string>
            </dict>
            <key>item2.png</key>
            <dict>
                <key>frame</key>
                <string>{{445,899},{210,293}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{210,293}}</string>
                <key>sourceSize</key>
                <string>{210,293}</string>
            </dict>
            <key>item3.png</key>
            <dict>
                <key>frame</key>
                <string>{{686,583},{301,184}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{301,184}}</string>
                <key>sourceSize</key>
                <string>{301,184}</string>
            </dict>
            <key>item4.png</key>
            <dict>
                <key>frame</key>
                <string>{{3,1706},{304,209}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{304,209}}</string>
                <key>sourceSize</key>
                <string>{304,209}</string>
            </dict>
            <key>item5.png</key>
            <dict>
                <key>frame</key>
                <string>{{874,499},{284,184}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{284,184}}</string>
                <key>sourceSize</key>
                <string>{284,184}</string>
            </dict>
            <key>item6.png</key>
            <dict>
                <key>frame</key>
                <string>{{216,1699},{227,258}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{227,258}}</string>
                <key>sourceSize</key>
                <string>{227,258}</string>
            </dict>
            <key>item7.png</key>
            <dict>
                <key>frame</key>
                <string>{{447,1699},{259,217}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{259,217}}</string>
                <key>sourceSize</key>
                <string>{259,217}</string>
            </dict>
            <key>level_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{662,1966},{53,53}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{53,53}}</string>
                <key>sourceSize</key>
                <string>{53,53}</string>
            </dict>
            <key>level_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{364,1961},{53,53}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{53,53}}</string>
                <key>sourceSize</key>
                <string>{53,53}</string>
            </dict>
            <key>level_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{1002,434},{53,53}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{53,53}}</string>
                <key>sourceSize</key>
                <string>{53,53}</string>
            </dict>
            <key>level_p2.png</key>
            <dict>
                <key>frame</key>
                <string>{{890,1895},{101,99}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{101,99}}</string>
                <key>sourceSize</key>
                <string>{101,99}</string>
            </dict>
            <key>meBg.png</key>
            <dict>
                <key>frame</key>
                <string>{{564,2005},{94,39}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{94,39}}</string>
                <key>sourceSize</key>
                <string>{94,39}</string>
            </dict>
            <key>meRank.png</key>
            <dict>
                <key>frame</key>
                <string>{{920,1631},{33,25}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{33,25}}</string>
                <key>sourceSize</key>
                <string>{33,25}</string>
            </dict>
            <key>numBg2.png</key>
            <dict>
                <key>frame</key>
                <string>{{805,499},{75,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{75,32}}</string>
                <key>sourceSize</key>
                <string>{75,32}</string>
            </dict>
            <key>pigNose.png</key>
            <dict>
                <key>frame</key>
                <string>{{567,1962},{42,39}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{42,39}}</string>
                <key>sourceSize</key>
                <string>{42,39}</string>
            </dict>
            <key>rank1.png</key>
            <dict>
                <key>frame</key>
                <string>{{719,1966},{58,48}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{58,48}}</string>
                <key>sourceSize</key>
                <string>{58,48}</string>
            </dict>
            <key>rank_mask.png</key>
            <dict>
                <key>frame</key>
                <string>{{3,318},{682,291}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{682,291}}</string>
                <key>sourceSize</key>
                <string>{682,291}</string>
            </dict>
            <key>receive2.png</key>
            <dict>
                <key>frame</key>
                <string>{{216,1961},{144,58}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{144,58}}</string>
                <key>sourceSize</key>
                <string>{144,58}</string>
            </dict>
            <key>reward_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{668,1697},{218,265}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{218,265}}</string>
                <key>sourceSize</key>
                <string>{218,265}</string>
            </dict>
            <key>reward_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{659,899},{218,265}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{218,265}}</string>
                <key>sourceSize</key>
                <string>{218,265}</string>
            </dict>
            <key>reward_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{475,1428},{218,265}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{218,265}}</string>
                <key>sourceSize</key>
                <string>{218,265}</string>
            </dict>
            <key>reward_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{697,1391},{219,265}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{219,265}}</string>
                <key>sourceSize</key>
                <string>{219,265}</string>
            </dict>
            <key>reward_f.png</key>
            <dict>
                <key>frame</key>
                <string>{{674,1168},{219,265}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{219,265}}</string>
                <key>sourceSize</key>
                <string>{219,265}</string>
            </dict>
            <key>t_daily_pageBtn_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{920,1391},{236,103}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{236,103}}</string>
                <key>sourceSize</key>
                <string>{236,103}</string>
            </dict>
            <key>t_daily_pageBtn_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{890,1660},{231,85}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{231,85}}</string>
                <key>sourceSize</key>
                <string>{231,85}</string>
            </dict>
            <key>timeBar.png</key>
            <dict>
                <key>frame</key>
                <string>{{1002,201},{229,57}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{229,57}}</string>
                <key>sourceSize</key>
                <string>{229,57}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>daily_task.pvr</string>
            <key>size</key>
            <string>{1068,2047}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:8e4bc2524c5a6c2ac151b538de3e3909:1/1$</string>
            <key>textureFileName</key>
            <string>daily_task.pvr</string>
        </dict>
    </dict>
</plist>
