<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>dailySign_bar.png</key>
            <dict>
                <key>frame</key>
                <string>{{1131,760},{33,1057}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{33,1057}}</string>
                <key>sourceSize</key>
                <string>{33,1057}</string>
            </dict>
            <key>dailySign_bg_frame.png</key>
            <dict>
                <key>frame</key>
                <string>{{3,639},{1001,1334}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1001,1334}}</string>
                <key>sourceSize</key>
                <string>{1001,1334}</string>
            </dict>
            <key>dailySign_day_icon_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1131,639},{118,117}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{118,117}}</string>
                <key>sourceSize</key>
                <string>{118,117}</string>
            </dict>
            <key>dailySign_day_icon_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{1008,639},{119,119}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{119,119}}</string>
                <key>sourceSize</key>
                <string>{119,119}</string>
            </dict>
            <key>dailySign_frame.png</key>
            <dict>
                <key>frame</key>
                <string>{{3,3},{632,1333}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{632,1333}}</string>
                <key>sourceSize</key>
                <string>{632,1333}</string>
            </dict>
            <key>dailySign_get_icon.png</key>
            <dict>
                <key>frame</key>
                <string>{{1253,639},{83,53}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{83,53}}</string>
                <key>sourceSize</key>
                <string>{83,53}</string>
            </dict>
            <key>dailySign_tip.png</key>
            <dict>
                <key>frame</key>
                <string>{{1253,696},{91,64}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{91,64}}</string>
                <key>sourceSize</key>
                <string>{91,64}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>dailySign.pvr</string>
            <key>size</key>
            <string>{1339,1976}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:ac333a96c46761933f265b673662eef1:1/1$</string>
            <key>textureFileName</key>
            <string>dailySign.pvr</string>
        </dict>
    </dict>
</plist>
