<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>blackBirdWithCloud.png</key>
            <dict>
                <key>frame</key>
                <string>{{3,741},{205,176}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{205,176}}</string>
                <key>sourceSize</key>
                <string>{205,176}</string>
            </dict>
            <key>check_bg_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{212,741},{49,50}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{49,50}}</string>
                <key>sourceSize</key>
                <string>{49,50}</string>
            </dict>
            <key>green_button_with_heart.png</key>
            <dict>
                <key>frame</key>
                <string>{{3,590},{405,147}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{405,147}}</string>
                <key>sourceSize</key>
                <string>{405,147}</string>
            </dict>
            <key>redBirdWithCloud.png</key>
            <dict>
                <key>frame</key>
                <string>{{412,590},{145,151}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{145,151}}</string>
                <key>sourceSize</key>
                <string>{145,151}</string>
            </dict>
            <key>send_life_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{3,3},{583,574}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{583,574}}</string>
                <key>sourceSize</key>
                <string>{583,574}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>FriendsBox.pvr</string>
            <key>size</key>
            <string>{580,920}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:4233c97feea8a9b62806387c3046bbeb:1/1$</string>
            <key>textureFileName</key>
            <string>FriendsBox.pvr</string>
        </dict>
    </dict>
</plist>
