<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>GalleryBg.png</key>
            <dict>
                <key>frame</key>
                <string>{{3,3},{1001,1334}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1001,1334}}</string>
                <key>sourceSize</key>
                <string>{1001,1334}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>gallery.pvr</string>
            <key>size</key>
            <string>{1007,1340}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:39a3b921c7b68e5815695eb0500197ba:1/1$</string>
            <key>textureFileName</key>
            <string>gallery.pvr</string>
        </dict>
    </dict>
</plist>
