<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>collect_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{1575,708},{235,255}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{235,255}}</string>
                <key>sourceSize</key>
                <string>{235,255}</string>
            </dict>
            <key>collect_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1564,242},{235,255}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{235,255}}</string>
                <key>sourceSize</key>
                <string>{235,255}</string>
            </dict>
            <key>collect_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{1564,3},{235,255}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{235,255}}</string>
                <key>sourceSize</key>
                <string>{235,255}</string>
            </dict>
            <key>collect_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{1198,707},{235,255}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{235,255}}</string>
                <key>sourceSize</key>
                <string>{235,255}</string>
            </dict>
            <key>collect_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{959,707},{235,255}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{235,255}}</string>
                <key>sourceSize</key>
                <string>{235,255}</string>
            </dict>
            <key>collect_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{720,707},{235,255}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{235,255}}</string>
                <key>sourceSize</key>
                <string>{235,255}</string>
            </dict>
            <key>collect_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{481,707},{235,255}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{235,255}}</string>
                <key>sourceSize</key>
                <string>{235,255}</string>
            </dict>
            <key>collect_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{242,707},{235,255}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{235,255}}</string>
                <key>sourceSize</key>
                <string>{235,255}</string>
            </dict>
            <key>collect_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{3,707},{235,255}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{235,255}}</string>
                <key>sourceSize</key>
                <string>{235,255}</string>
            </dict>
            <key>collect_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{1575,481},{223,249}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{223,249}}</string>
                <key>sourceSize</key>
                <string>{223,249}</string>
            </dict>
            <key>collect_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{3,3},{700,1337}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{700,1337}}</string>
                <key>sourceSize</key>
                <string>{700,1337}</string>
            </dict>
            <key>collect_head.png</key>
            <dict>
                <key>frame</key>
                <string>{{1344,589},{74,83}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{74,83}}</string>
                <key>sourceSize</key>
                <string>{74,83}</string>
            </dict>
            <key>collect_line.png</key>
            <dict>
                <key>frame</key>
                <string>{{1564,481},{491,7}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{491,7}}</string>
                <key>sourceSize</key>
                <string>{491,7}</string>
            </dict>
            <key>mission_title_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{1344,3},{582,216}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{582,216}}</string>
                <key>sourceSize</key>
                <string>{582,216}</string>
            </dict>
            <key>path_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1490,589},{64,64}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{64,64}}</string>
                <key>sourceSize</key>
                <string>{64,64}</string>
            </dict>
            <key>path_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{1422,589},{64,64}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{64,64}}</string>
                <key>sourceSize</key>
                <string>{64,64}</string>
            </dict>
            <key>pathbottom_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1490,657},{64,33}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{64,33}}</string>
                <key>sourceSize</key>
                <string>{64,33}</string>
            </dict>
            <key>pathbottom_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{1422,657},{64,33}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{64,33}}</string>
                <key>sourceSize</key>
                <string>{64,33}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>journey.pvr</string>
            <key>size</key>
            <string>{1832,975}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:77f0aa12ca69dc712287f307edf601be:1/1$</string>
            <key>textureFileName</key>
            <string>journey.pvr</string>
        </dict>
    </dict>
</plist>
