<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>DMBtn.png</key>
            <dict>
                <key>frame</key>
                <string>{{491,1166},{154,150}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{154,150}}</string>
                <key>sourceSize</key>
                <string>{154,150}</string>
            </dict>
            <key>NotificationBg.png</key>
            <dict>
                <key>frame</key>
                <string>{{133,301},{455,333}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{455,333}}</string>
                <key>sourceSize</key>
                <string>{455,333}</string>
            </dict>
            <key>dailyTimeImg2.png</key>
            <dict>
                <key>frame</key>
                <string>{{938,805},{29,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{29,32}}</string>
                <key>sourceSize</key>
                <string>{29,32}</string>
            </dict>
            <key>fb_image_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{133,638},{434,300}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{434,300}}</string>
                <key>sourceSize</key>
                <string>{434,300}</string>
            </dict>
            <key>fb_login_gift.png</key>
            <dict>
                <key>frame</key>
                <string>{{752,1221},{101,99}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{101,99}}</string>
                <key>sourceSize</key>
                <string>{101,99}</string>
            </dict>
            <key>frame.png</key>
            <dict>
                <key>frame</key>
                <string>{{680,546},{358,254}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{358,254}}</string>
                <key>sourceSize</key>
                <string>{358,254}</string>
            </dict>
            <key>lv_hard_unlock.png</key>
            <dict>
                <key>frame</key>
                <string>{{569,1049},{113,80}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{113,80}}</string>
                <key>sourceSize</key>
                <string>{113,80}</string>
            </dict>
            <key>lv_hard_unlock_img.png</key>
            <dict>
                <key>frame</key>
                <string>{{353,942},{116,80}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{116,80}}</string>
                <key>sourceSize</key>
                <string>{116,80}</string>
            </dict>
            <key>lv_item_unlock.png</key>
            <dict>
                <key>frame</key>
                <string>{{491,1034},{74,81}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{74,81}}</string>
                <key>sourceSize</key>
                <string>{74,81}</string>
            </dict>
            <key>lv_item_unlock_img.png</key>
            <dict>
                <key>frame</key>
                <string>{{473,942},{82,88}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{82,88}}</string>
                <key>sourceSize</key>
                <string>{82,88}</string>
            </dict>
            <key>mail.png</key>
            <dict>
                <key>frame</key>
                <string>{{649,1221},{101,99}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{101,99}}</string>
                <key>sourceSize</key>
                <string>{101,99}</string>
            </dict>
            <key>map_icon_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{299,1040},{188,143}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{188,143}}</string>
                <key>sourceSize</key>
                <string>{188,143}</string>
            </dict>
            <key>mission_button.png</key>
            <dict>
                <key>frame</key>
                <string>{{900,1216},{101,100}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{101,100}}</string>
                <key>sourceSize</key>
                <string>{101,100}</string>
            </dict>
            <key>rankReward_bg_l.png</key>
            <dict>
                <key>frame</key>
                <string>{{133,3},{546,294}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{546,294}}</string>
                <key>sourceSize</key>
                <string>{546,294}</string>
            </dict>
            <key>rankReward_bg_s.png</key>
            <dict>
                <key>frame</key>
                <string>{{683,3},{539,251}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{539,251}}</string>
                <key>sourceSize</key>
                <string>{539,251}</string>
            </dict>
            <key>settingsPanel_btn.png</key>
            <dict>
                <key>frame</key>
                <string>{{571,675},{370,83}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{370,83}}</string>
                <key>sourceSize</key>
                <string>{370,83}</string>
            </dict>
            <key>settingsPanel_invite_box.png</key>
            <dict>
                <key>frame</key>
                <string>{{241,942},{94,108}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{94,108}}</string>
                <key>sourceSize</key>
                <string>{94,108}</string>
            </dict>
            <key>settingsPanel_invite_btn.png</key>
            <dict>
                <key>frame</key>
                <string>{{592,301},{370,84}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{370,84}}</string>
                <key>sourceSize</key>
                <string>{370,84}</string>
            </dict>
            <key>settingsPanel_line.png</key>
            <dict>
                <key>frame</key>
                <string>{{938,3},{531,12}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{531,12}}</string>
                <key>sourceSize</key>
                <string>{531,12}</string>
            </dict>
            <key>settingsPanel_sideBg.png</key>
            <dict>
                <key>frame</key>
                <string>{{3,3},{126,1330}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{126,1330}}</string>
                <key>sourceSize</key>
                <string>{126,1330}</string>
            </dict>
            <key>smallArrow.png</key>
            <dict>
                <key>frame</key>
                <string>{{974,805},{26,30}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{26,30}}</string>
                <key>sourceSize</key>
                <string>{26,30}</string>
            </dict>
            <key>smallTipBoxBg.png</key>
            <dict>
                <key>frame</key>
                <string>{{658,908},{321,200}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{321,200}}</string>
                <key>sourceSize</key>
                <string>{321,200}</string>
            </dict>
            <key>star_progress.png</key>
            <dict>
                <key>frame</key>
                <string>{{900,1112},{101,100}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{101,100}}</string>
                <key>sourceSize</key>
                <string>{101,100}</string>
            </dict>
            <key>stars_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{938,677},{124,50}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{124,50}}</string>
                <key>sourceSize</key>
                <string>{124,50}</string>
            </dict>
            <key>stars_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{954,398},{124,50}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{124,50}}</string>
                <key>sourceSize</key>
                <string>{124,50}</string>
            </dict>
            <key>stars_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{954,270},{124,50}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{124,50}}</string>
                <key>sourceSize</key>
                <string>{124,50}</string>
            </dict>
            <key>stars_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{954,142},{124,50}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{124,50}}</string>
                <key>sourceSize</key>
                <string>{124,50}</string>
            </dict>
            <key>toonTv.png</key>
            <dict>
                <key>frame</key>
                <string>{{133,942},{104,100}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{104,100}}</string>
                <key>sourceSize</key>
                <string>{104,100}</string>
            </dict>
            <key>towerIcon.png</key>
            <dict>
                <key>frame</key>
                <string>{{299,1187},{144,158}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{144,158}}</string>
                <key>sourceSize</key>
                <string>{144,158}</string>
            </dict>
            <key>towerIcon_bar.png</key>
            <dict>
                <key>frame</key>
                <string>{{954,3},{135,46}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{135,46}}</string>
                <key>sourceSize</key>
                <string>{135,46}</string>
            </dict>
            <key>towerIcon_bar_coming.png</key>
            <dict>
                <key>frame</key>
                <string>{{938,538},{135,46}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{135,46}}</string>
                <key>sourceSize</key>
                <string>{135,46}</string>
            </dict>
            <key>two_coin.png</key>
            <dict>
                <key>frame</key>
                <string>{{133,1049},{216,162}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{216,162}}</string>
                <key>sourceSize</key>
                <string>{216,162}</string>
            </dict>
            <key>userIconBox.png</key>
            <dict>
                <key>frame</key>
                <string>{{653,1112},{243,105}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{243,105}}</string>
                <key>sourceSize</key>
                <string>{243,105}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>map_ui.pvr</string>
            <key>size</key>
            <string>{1007,1343}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:56a55f0b230b73418cf376a10c789242:1/1$</string>
            <key>textureFileName</key>
            <string>map_ui.pvr</string>
        </dict>
    </dict>
</plist>
