<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>Quest_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{832,559},{150,150}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{150,150}}</string>
                <key>sourceSize</key>
                <string>{150,150}</string>
            </dict>
            <key>Quest_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{677,692},{150,151}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{150,151}}</string>
                <key>sourceSize</key>
                <string>{150,151}</string>
            </dict>
            <key>Quest_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{664,1001},{151,151}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{151,151}}</string>
                <key>sourceSize</key>
                <string>{151,151}</string>
            </dict>
            <key>Quest_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{522,687},{150,151}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{150,151}}</string>
                <key>sourceSize</key>
                <string>{150,151}</string>
            </dict>
            <key>Quest_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{686,384},{151,150}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{151,150}}</string>
                <key>sourceSize</key>
                <string>{151,150}</string>
            </dict>
            <key>Quest_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{819,868},{151,151}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{151,151}}</string>
                <key>sourceSize</key>
                <string>{151,151}</string>
            </dict>
            <key>Quest_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{664,846},{151,151}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{151,151}}</string>
                <key>sourceSize</key>
                <string>{151,151}</string>
            </dict>
            <key>Quest_08.png</key>
            <dict>
                <key>frame</key>
                <string>{{677,538},{150,151}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{150,151}}</string>
                <key>sourceSize</key>
                <string>{150,151}</string>
            </dict>
            <key>Quest_09.png</key>
            <dict>
                <key>frame</key>
                <string>{{531,378},{151,150}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{151,150}}</string>
                <key>sourceSize</key>
                <string>{151,150}</string>
            </dict>
            <key>e_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{686,230},{151,150}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{151,150}}</string>
                <key>sourceSize</key>
                <string>{151,150}</string>
            </dict>
            <key>e_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{832,713},{151,151}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{151,151}}</string>
                <key>sourceSize</key>
                <string>{151,151}</string>
            </dict>
            <key>e_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{522,532},{151,151}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{151,151}}</string>
                <key>sourceSize</key>
                <string>{151,151}</string>
            </dict>
            <key>e_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{313,841},{151,151}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{151,151}}</string>
                <key>sourceSize</key>
                <string>{151,151}</string>
            </dict>
            <key>e_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{313,686},{151,151}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{151,151}}</string>
                <key>sourceSize</key>
                <string>{151,151}</string>
            </dict>
            <key>e_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{313,531},{151,151}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{151,151}}</string>
                <key>sourceSize</key>
                <string>{151,151}</string>
            </dict>
            <key>mission_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{531,223},{151,151}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{151,151}}</string>
                <key>sourceSize</key>
                <string>{151,151}</string>
            </dict>
            <key>mission_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{158,995},{151,151}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{151,151}}</string>
                <key>sourceSize</key>
                <string>{151,151}</string>
            </dict>
            <key>mission_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{158,840},{151,151}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{151,151}}</string>
                <key>sourceSize</key>
                <string>{151,151}</string>
            </dict>
            <key>mission_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{319,1150},{154,132}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{154,132}}</string>
                <key>sourceSize</key>
                <string>{154,132}</string>
            </dict>
            <key>mission_14.png</key>
            <dict>
                <key>frame</key>
                <string>{{841,402},{153,132}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{153,132}}</string>
                <key>sourceSize</key>
                <string>{153,132}</string>
            </dict>
            <key>mission_15.png</key>
            <dict>
                <key>frame</key>
                <string>{{726,94},{154,132}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{154,132}}</string>
                <key>sourceSize</key>
                <string>{154,132}</string>
            </dict>
            <key>mission_16.png</key>
            <dict>
                <key>frame</key>
                <string>{{841,245},{153,132}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{153,132}}</string>
                <key>sourceSize</key>
                <string>{153,132}</string>
            </dict>
            <key>mission_17.png</key>
            <dict>
                <key>frame</key>
                <string>{{161,1150},{154,132}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{154,132}}</string>
                <key>sourceSize</key>
                <string>{154,132}</string>
            </dict>
            <key>mission_18.png</key>
            <dict>
                <key>frame</key>
                <string>{{477,1150},{153,132}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{153,132}}</string>
                <key>sourceSize</key>
                <string>{153,132}</string>
            </dict>
            <key>mission_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{3,1150},{154,132}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{154,132}}</string>
                <key>sourceSize</key>
                <string>{154,132}</string>
            </dict>
            <key>mission_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{313,996},{151,150}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{151,150}}</string>
                <key>sourceSize</key>
                <string>{151,150}</string>
            </dict>
            <key>mission_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{158,685},{151,151}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{151,151}}</string>
                <key>sourceSize</key>
                <string>{151,151}</string>
            </dict>
            <key>mission_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{158,530},{151,151}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{151,151}}</string>
                <key>sourceSize</key>
                <string>{151,151}</string>
            </dict>
            <key>mission_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{3,995},{151,151}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{151,151}}</string>
                <key>sourceSize</key>
                <string>{151,151}</string>
            </dict>
            <key>mission_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{3,840},{151,151}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{151,151}}</string>
                <key>sourceSize</key>
                <string>{151,151}</string>
            </dict>
            <key>mission_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{3,685},{151,151}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{151,151}}</string>
                <key>sourceSize</key>
                <string>{151,151}</string>
            </dict>
            <key>mission_btn.png</key>
            <dict>
                <key>frame</key>
                <string>{{765,1156},{121,56}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{121,56}}</string>
                <key>sourceSize</key>
                <string>{121,56}</string>
            </dict>
            <key>mission_fbFirst.png</key>
            <dict>
                <key>frame</key>
                <string>{{3,530},{151,151}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{151,151}}</string>
                <key>sourceSize</key>
                <string>{151,151}</string>
            </dict>
            <key>mission_look.png</key>
            <dict>
                <key>frame</key>
                <string>{{561,3},{398,87}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{398,87}}</string>
                <key>sourceSize</key>
                <string>{398,87}</string>
            </dict>
            <key>mission_num_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{546,1083},{83,36}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{83,36}}</string>
                <key>sourceSize</key>
                <string>{83,36}</string>
            </dict>
            <key>mission_small_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{3,3},{554,201}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{554,201}}</string>
                <key>sourceSize</key>
                <string>{554,201}</string>
            </dict>
            <key>mission_view_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{3,208},{524,180}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{524,180}}</string>
                <key>sourceSize</key>
                <string>{524,180}</string>
            </dict>
            <key>reward_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{561,94},{125,161}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{125,161}}</string>
                <key>sourceSize</key>
                <string>{125,161}</string>
            </dict>
            <key>reward_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{3,392},{169,134}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{169,134}}</string>
                <key>sourceSize</key>
                <string>{169,134}</string>
            </dict>
            <key>reward_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{546,926},{114,153}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{114,153}}</string>
                <key>sourceSize</key>
                <string>{114,153}</string>
            </dict>
            <key>reward_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{348,392},{155,135}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{155,135}}</string>
                <key>sourceSize</key>
                <string>{155,135}</string>
            </dict>
            <key>reward_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{176,392},{168,134}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{168,134}}</string>
                <key>sourceSize</key>
                <string>{168,134}</string>
            </dict>
            <key>reward_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{884,94},{147,98}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{147,98}}</string>
                <key>sourceSize</key>
                <string>{147,98}</string>
            </dict>
            <key>reward_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{634,1156},{127,120}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{127,120}}</string>
                <key>sourceSize</key>
                <string>{127,120}</string>
            </dict>
            <key>reward_08.png</key>
            <dict>
                <key>frame</key>
                <string>{{508,841},{126,81}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{126,81}}</string>
                <key>sourceSize</key>
                <string>{126,81}</string>
            </dict>
            <key>reward_09.png</key>
            <dict>
                <key>frame</key>
                <string>{{819,1023},{121,140}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{121,140}}</string>
                <key>sourceSize</key>
                <string>{121,140}</string>
            </dict>
            <key>reward_bar.png</key>
            <dict>
                <key>frame</key>
                <string>{{468,531},{217,50}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{217,50}}</string>
                <key>sourceSize</key>
                <string>{217,50}</string>
            </dict>
            <key>task_bar.png</key>
            <dict>
                <key>frame</key>
                <string>{{468,752},{195,36}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{195,36}}</string>
                <key>sourceSize</key>
                <string>{195,36}</string>
            </dict>
            <key>task_bar_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{507,951},{195,35}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{195,35}}</string>
                <key>sourceSize</key>
                <string>{195,35}</string>
            </dict>
            <key>task_bar_mask.png</key>
            <dict>
                <key>frame</key>
                <string>{{468,951},{195,35}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{195,35}}</string>
                <key>sourceSize</key>
                <string>{195,35}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>mission.pvr</string>
            <key>size</key>
            <string>{987,1285}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:48407b64bf969e0283615c72ee97aceb:1/1$</string>
            <key>textureFileName</key>
            <string>mission.pvr</string>
        </dict>
    </dict>
</plist>
