<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>PImg.png</key>
            <dict>
                <key>frame</key>
                <string>{{1285,157},{500,339}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{500,339}}</string>
                <key>sourceSize</key>
                <string>{500,339}</string>
            </dict>
            <key>btn.png</key>
            <dict>
                <key>frame</key>
                <string>{{1182,1561},{157,74}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{157,74}}</string>
                <key>sourceSize</key>
                <string>{157,74}</string>
            </dict>
            <key>btn1.png</key>
            <dict>
                <key>frame</key>
                <string>{{796,1964},{213,73}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{213,73}}</string>
                <key>sourceSize</key>
                <string>{213,73}</string>
            </dict>
            <key>btn_gray.png</key>
            <dict>
                <key>frame</key>
                <string>{{741,1506},{157,74}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{157,74}}</string>
                <key>sourceSize</key>
                <string>{157,74}</string>
            </dict>
            <key>button.png</key>
            <dict>
                <key>frame</key>
                <string>{{1009,1436},{204,77}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{204,77}}</string>
                <key>sourceSize</key>
                <string>{204,77}</string>
            </dict>
            <key>coinBtn.png</key>
            <dict>
                <key>frame</key>
                <string>{{1697,1081},{333,107}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{333,107}}</string>
                <key>sourceSize</key>
                <string>{333,107}</string>
            </dict>
            <key>coinbar.png</key>
            <dict>
                <key>frame</key>
                <string>{{749,146},{532,114}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{532,114}}</string>
                <key>sourceSize</key>
                <string>{532,114}</string>
            </dict>
            <key>coinbar2.png</key>
            <dict>
                <key>frame</key>
                <string>{{1253,500},{507,92}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{507,92}}</string>
                <key>sourceSize</key>
                <string>{507,92}</string>
            </dict>
            <key>color.png</key>
            <dict>
                <key>frame</key>
                <string>{{1509,884},{193,294}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{193,294}}</string>
                <key>sourceSize</key>
                <string>{193,294}</string>
            </dict>
            <key>color_f.png</key>
            <dict>
                <key>frame</key>
                <string>{{1636,1690},{76,92}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{76,92}}</string>
                <key>sourceSize</key>
                <string>{76,92}</string>
            </dict>
            <key>color_t.png</key>
            <dict>
                <key>frame</key>
                <string>{{1582,1800},{76,92}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{76,92}}</string>
                <key>sourceSize</key>
                <string>{76,92}</string>
            </dict>
            <key>column.png</key>
            <dict>
                <key>frame</key>
                <string>{{1220,1057},{210,293}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{210,293}}</string>
                <key>sourceSize</key>
                <string>{210,293}</string>
            </dict>
            <key>column_f.png</key>
            <dict>
                <key>frame</key>
                <string>{{1680,1966},{72,73}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{72,73}}</string>
                <key>sourceSize</key>
                <string>{72,73}</string>
            </dict>
            <key>column_t.png</key>
            <dict>
                <key>frame</key>
                <string>{{1680,1889},{72,73}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{72,73}}</string>
                <key>sourceSize</key>
                <string>{72,73}</string>
            </dict>
            <key>frame_big.png</key>
            <dict>
                <key>frame</key>
                <string>{{749,3},{560,139}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{560,139}}</string>
                <key>sourceSize</key>
                <string>{560,139}</string>
            </dict>
            <key>goldBtn.png</key>
            <dict>
                <key>frame</key>
                <string>{{1662,596},{156,71}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{156,71}}</string>
                <key>sourceSize</key>
                <string>{156,71}</string>
            </dict>
            <key>goldCoin_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{524,1726},{301,184}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{301,184}}</string>
                <key>sourceSize</key>
                <string>{301,184}</string>
            </dict>
            <key>goldShop_head_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{3,3},{742,191}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{742,191}}</string>
                <key>sourceSize</key>
                <string>{742,191}</string>
            </dict>
            <key>goldShop_newAddItem_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{3,198},{556,348}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{556,348}}</string>
                <key>sourceSize</key>
                <string>{556,348}</string>
            </dict>
            <key>goldShop_newAddItem_btn.png</key>
            <dict>
                <key>frame</key>
                <string>{{913,1140},{366,92}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{366,92}}</string>
                <key>sourceSize</key>
                <string>{366,92}</string>
            </dict>
            <key>goldShop_newAddItem_gold.png</key>
            <dict>
                <key>frame</key>
                <string>{{1756,1889},{70,70}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{70,70}}</string>
                <key>sourceSize</key>
                <string>{70,70}</string>
            </dict>
            <key>goldShop_newAddItem_sale.png</key>
            <dict>
                <key>frame</key>
                <string>{{3,1726},{517,313}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{517,313}}</string>
                <key>sourceSize</key>
                <string>{517,313}</string>
            </dict>
            <key>goldShop_newAddItem_tipBg.png</key>
            <dict>
                <key>frame</key>
                <string>{{1220,1354},{205,203}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{205,203}}</string>
                <key>sourceSize</key>
                <string>{205,203}</string>
            </dict>
            <key>goldShop_title_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{601,1140},{434,136}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{434,136}}</string>
                <key>sourceSize</key>
                <string>{434,136}</string>
            </dict>
            <key>goldTrade_l_discount.png</key>
            <dict>
                <key>frame</key>
                <string>{{1166,1676},{231,164}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{231,164}}</string>
                <key>sourceSize</key>
                <string>{231,164}</string>
            </dict>
            <key>goldTrade_l_gold_coins_package.png</key>
            <dict>
                <key>frame</key>
                <string>{{1210,879},{295,174}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{295,174}}</string>
                <key>sourceSize</key>
                <string>{295,174}</string>
            </dict>
            <key>goldTrade_m_discount.png</key>
            <dict>
                <key>frame</key>
                <string>{{1334,1676},{215,145}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{215,145}}</string>
                <key>sourceSize</key>
                <string>{215,145}</string>
            </dict>
            <key>goldTrade_s2_gold_coins_package.png</key>
            <dict>
                <key>frame</key>
                <string>{{1009,1123},{309,207}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{309,207}}</string>
                <key>sourceSize</key>
                <string>{309,207}</string>
            </dict>
            <key>goldTrade_s_discount.png</key>
            <dict>
                <key>frame</key>
                <string>{{886,639},{320,249}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{320,249}}</string>
                <key>sourceSize</key>
                <string>{320,249}</string>
            </dict>
            <key>goldTrade_xl_discount.png</key>
            <dict>
                <key>frame</key>
                <string>{{984,1676},{268,178}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{268,178}}</string>
                <key>sourceSize</key>
                <string>{268,178}</string>
            </dict>
            <key>goldTrade_xl_gold_coins_package.png</key>
            <dict>
                <key>frame</key>
                <string>{{596,904},{340,232}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{340,232}}</string>
                <key>sourceSize</key>
                <string>{340,232}</string>
            </dict>
            <key>goldTrade_xs_discount.png</key>
            <dict>
                <key>frame</key>
                <string>{{1210,671},{321,204}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{321,204}}</string>
                <key>sourceSize</key>
                <string>{321,204}</string>
            </dict>
            <key>goldTrade_xs_t5_discount.png</key>
            <dict>
                <key>frame</key>
                <string>{{563,264},{397,261}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{397,261}}</string>
                <key>sourceSize</key>
                <string>{397,261}</string>
            </dict>
            <key>goldshop_limit_time.png</key>
            <dict>
                <key>frame</key>
                <string>{{1789,157},{191,49}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{191,49}}</string>
                <key>sourceSize</key>
                <string>{191,49}</string>
            </dict>
            <key>goldshop_promotion_light.png</key>
            <dict>
                <key>frame</key>
                <string>{{1434,1302},{252,192}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{252,192}}</string>
                <key>sourceSize</key>
                <string>{252,192}</string>
            </dict>
            <key>goldshop_promotion_new_bg_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{302,1140},{582,295}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{582,295}}</string>
                <key>sourceSize</key>
                <string>{582,295}</string>
            </dict>
            <key>goldshop_promotion_new_bg_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{3,1136},{582,295}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{582,295}}</string>
                <key>sourceSize</key>
                <string>{582,295}</string>
            </dict>
            <key>goldshop_promotion_new_bg_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{3,550},{582,295}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{582,295}}</string>
                <key>sourceSize</key>
                <string>{582,295}</string>
            </dict>
            <key>goldshop_promotion_new_btn.png</key>
            <dict>
                <key>frame</key>
                <string>{{1429,1498},{249,68}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{249,68}}</string>
                <key>sourceSize</key>
                <string>{249,68}</string>
            </dict>
            <key>goldshop_promotion_new_light.png</key>
            <dict>
                <key>frame</key>
                <string>{{741,1140},{362,168}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{362,168}}</string>
                <key>sourceSize</key>
                <string>{362,168}</string>
            </dict>
            <key>goldshop_promotion_new_tip_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1298,1911},{128,128}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{128,128}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>goldshop_promotion_new_tip_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{1166,1911},{128,128}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{128,128}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>goldshop_promotion_titleBar.png</key>
            <dict>
                <key>frame</key>
                <string>{{1253,596},{405,71}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{405,71}}</string>
                <key>sourceSize</key>
                <string>{405,71}</string>
            </dict>
            <key>itemShopBar.png</key>
            <dict>
                <key>frame</key>
                <string>{{1313,3},{502,150}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{502,150}}</string>
                <key>sourceSize</key>
                <string>{502,150}</string>
            </dict>
            <key>l_gold_coins_package_tip.png</key>
            <dict>
                <key>frame</key>
                <string>{{1716,1676},{110,49}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{110,49}}</string>
                <key>sourceSize</key>
                <string>{110,49}</string>
            </dict>
            <key>newGoldCoin_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{601,1578},{131,67}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{131,67}}</string>
                <key>sourceSize</key>
                <string>{131,67}</string>
            </dict>
            <key>newGoldCoin_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{1013,1948},{148,76}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{148,76}}</string>
                <key>sourceSize</key>
                <string>{148,76}</string>
            </dict>
            <key>newGoldCoin_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{1539,1570},{128,116}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{128,116}}</string>
                <key>sourceSize</key>
                <string>{128,116}</string>
            </dict>
            <key>newGoldCoin_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{1483,1690},{149,106}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{149,106}}</string>
                <key>sourceSize</key>
                <string>{149,106}</string>
            </dict>
            <key>newGoldCoin_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{1560,1896},{120,116}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{120,116}}</string>
                <key>sourceSize</key>
                <string>{120,116}</string>
            </dict>
            <key>newGoldCoin_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{1032,1517},{146,119}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{146,119}}</string>
                <key>sourceSize</key>
                <string>{146,119}</string>
            </dict>
            <key>newGoldCoin_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{1682,1548},{157,124}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{157,124}}</string>
                <key>sourceSize</key>
                <string>{157,124}</string>
            </dict>
            <key>prop.png</key>
            <dict>
                <key>frame</key>
                <string>{{712,1676},{344,80}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{344,80}}</string>
                <key>sourceSize</key>
                <string>{344,80}</string>
            </dict>
            <key>refresh.png</key>
            <dict>
                <key>frame</key>
                <string>{{1434,1081},{259,217}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{259,217}}</string>
                <key>sourceSize</key>
                <string>{259,217}</string>
            </dict>
            <key>refresh_f.png</key>
            <dict>
                <key>frame</key>
                <string>{{1716,1729},{76,80}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{76,80}}</string>
                <key>sourceSize</key>
                <string>{76,80}</string>
            </dict>
            <key>refresh_t.png</key>
            <dict>
                <key>frame</key>
                <string>{{1343,1561},{76,80}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{76,80}}</string>
                <key>sourceSize</key>
                <string>{76,80}</string>
            </dict>
            <key>row.png</key>
            <dict>
                <key>frame</key>
                <string>{{1535,671},{304,209}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{304,209}}</string>
                <key>sourceSize</key>
                <string>{304,209}</string>
            </dict>
            <key>row_f.png</key>
            <dict>
                <key>frame</key>
                <string>{{1764,500},{78,72}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{78,72}}</string>
                <key>sourceSize</key>
                <string>{78,72}</string>
            </dict>
            <key>row_t.png</key>
            <dict>
                <key>frame</key>
                <string>{{886,529},{78,73}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{78,73}}</string>
                <key>sourceSize</key>
                <string>{78,73}</string>
            </dict>
            <key>shop_hot_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{964,264},{285,371}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{285,371}}</string>
                <key>sourceSize</key>
                <string>{285,371}</string>
            </dict>
            <key>shop_hot_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{596,529},{286,371}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{286,371}}</string>
                <key>sourceSize</key>
                <string>{286,371}</string>
            </dict>
            <key>shop_limit_sale.png</key>
            <dict>
                <key>frame</key>
                <string>{{302,550},{586,290}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{586,290}}</string>
                <key>sourceSize</key>
                <string>{586,290}</string>
            </dict>
            <key>silverCoin_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{902,1517},{155,126}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{155,126}}</string>
                <key>sourceSize</key>
                <string>{155,126}</string>
            </dict>
            <key>silverCoin_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{1430,1895},{137,126}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{137,126}}</string>
                <key>sourceSize</key>
                <string>{137,126}</string>
            </dict>
            <key>silverCoin_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{1690,1418},{149,126}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{149,126}}</string>
                <key>sourceSize</key>
                <string>{149,126}</string>
            </dict>
            <key>silverCoin_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{796,1676},{284,184}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{284,184}}</string>
                <key>sourceSize</key>
                <string>{284,184}</string>
            </dict>
            <key>single_remove.png</key>
            <dict>
                <key>frame</key>
                <string>{{940,892},{227,258}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{227,258}}</string>
                <key>sourceSize</key>
                <string>{227,258}</string>
            </dict>
            <key>single_remove_f.png</key>
            <dict>
                <key>frame</key>
                <string>{{1738,1809},{72,76}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{72,76}}</string>
                <key>sourceSize</key>
                <string>{72,76}</string>
            </dict>
            <key>single_remove_t.png</key>
            <dict>
                <key>frame</key>
                <string>{{1662,1809},{72,76}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{72,76}}</string>
                <key>sourceSize</key>
                <string>{72,76}</string>
            </dict>
            <key>singlecoinimg.png</key>
            <dict>
                <key>frame</key>
                <string>{{672,1578},{42,41}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{42,41}}</string>
                <key>sourceSize</key>
                <string>{42,41}</string>
            </dict>
            <key>special_offer_tip.png</key>
            <dict>
                <key>frame</key>
                <string>{{1789,352},{110,49}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{110,49}}</string>
                <key>sourceSize</key>
                <string>{110,49}</string>
            </dict>
            <key>trade_fail.png</key>
            <dict>
                <key>frame</key>
                <string>{{1483,1800},{95,90}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{95,90}}</string>
                <key>sourceSize</key>
                <string>{95,90}</string>
            </dict>
            <key>trade_success.png</key>
            <dict>
                <key>frame</key>
                <string>{{1427,1570},{108,73}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{108,73}}</string>
                <key>sourceSize</key>
                <string>{108,73}</string>
            </dict>
            <key>xl_gold_coins_package_tip.png</key>
            <dict>
                <key>frame</key>
                <string>{{563,198},{127,49}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{127,49}}</string>
                <key>sourceSize</key>
                <string>{127,49}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>shop.pvr</string>
            <key>size</key>
            <string>{1842,2042}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:4834a55dae80dad1c8deb347ccf0fb90:1/1$</string>
            <key>textureFileName</key>
            <string>shop.pvr</string>
        </dict>
    </dict>
</plist>
