<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>bannerBg.png</key>
            <dict>
                <key>frame</key>
                <string>{{553,3},{674,154}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{674,154}}</string>
                <key>sourceSize</key>
                <string>{674,154}</string>
            </dict>
            <key>daily_buy_img_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{703,839},{198,83}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{198,83}}</string>
                <key>sourceSize</key>
                <string>{198,83}</string>
            </dict>
            <key>daily_buy_img_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{705,752},{198,83}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{198,83}}</string>
                <key>sourceSize</key>
                <string>{198,83}</string>
            </dict>
            <key>l_medal.png</key>
            <dict>
                <key>frame</key>
                <string>{{863,926},{66,68}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{66,68}}</string>
                <key>sourceSize</key>
                <string>{66,68}</string>
            </dict>
            <key>leaderBoard_noFriends.png</key>
            <dict>
                <key>frame</key>
                <string>{{3,553},{460,487}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{460,487}}</string>
                <key>sourceSize</key>
                <string>{460,487}</string>
            </dict>
            <key>lv_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1065,591},{101,107}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{101,107}}</string>
                <key>sourceSize</key>
                <string>{101,107}</string>
            </dict>
            <key>lv_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{1065,486},{101,107}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{101,107}}</string>
                <key>sourceSize</key>
                <string>{101,107}</string>
            </dict>
            <key>lv_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{711,567},{101,108}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{101,108}}</string>
                <key>sourceSize</key>
                <string>{101,108}</string>
            </dict>
            <key>lv_p.png</key>
            <dict>
                <key>frame</key>
                <string>{{1051,361},{121,121}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{121,121}}</string>
                <key>sourceSize</key>
                <string>{121,121}</string>
            </dict>
            <key>myRankBg.png</key>
            <dict>
                <key>frame</key>
                <string>{{711,3},{560,124}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{560,124}}</string>
                <key>sourceSize</key>
                <string>{560,124}</string>
            </dict>
            <key>rectMask.png</key>
            <dict>
                <key>frame</key>
                <string>{{494,553},{28,28}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{28,28}}</string>
                <key>sourceSize</key>
                <string>{28,28}</string>
            </dict>
            <key>reword_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1059,3},{212,96}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{212,96}}</string>
                <key>sourceSize</key>
                <string>{212,96}</string>
            </dict>
            <key>reword_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{494,800},{205,101}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{205,101}}</string>
                <key>sourceSize</key>
                <string>{205,101}</string>
            </dict>
            <key>reword_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{494,905},{184,104}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{184,104}}</string>
                <key>sourceSize</key>
                <string>{184,104}</string>
            </dict>
            <key>reword_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{1065,696},{191,94}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{191,94}}</string>
                <key>sourceSize</key>
                <string>{191,94}</string>
            </dict>
            <key>reword_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{907,752},{151,82}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{151,82}}</string>
                <key>sourceSize</key>
                <string>{151,82}</string>
            </dict>
            <key>reword_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{933,891},{179,93}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{179,93}}</string>
                <key>sourceSize</key>
                <string>{179,93}</string>
            </dict>
            <key>reword_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{682,926},{177,79}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{177,79}}</string>
                <key>sourceSize</key>
                <string>{177,79}</string>
            </dict>
            <key>screenBox.png</key>
            <dict>
                <key>frame</key>
                <string>{{3,3},{546,546}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{546,546}}</string>
                <key>sourceSize</key>
                <string>{546,546}</string>
            </dict>
            <key>screenBtn.png</key>
            <dict>
                <key>frame</key>
                <string>{{1051,229},{128,121}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{128,121}}</string>
                <key>sourceSize</key>
                <string>{128,121}</string>
            </dict>
            <key>screenTitleBg.png</key>
            <dict>
                <key>frame</key>
                <string>{{839,3},{216,222}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{216,222}}</string>
                <key>sourceSize</key>
                <string>{216,222}</string>
            </dict>
            <key>switch_f_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{839,348},{208,115}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{208,115}}</string>
                <key>sourceSize</key>
                <string>{208,115}</string>
            </dict>
            <key>switch_f_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{494,681},{207,115}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{207,115}}</string>
                <key>sourceSize</key>
                <string>{207,115}</string>
            </dict>
            <key>switch_t_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{839,467},{207,115}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{207,115}}</string>
                <key>sourceSize</key>
                <string>{207,115}</string>
            </dict>
            <key>switch_t_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{839,229},{208,115}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{208,115}}</string>
                <key>sourceSize</key>
                <string>{208,115}</string>
            </dict>
            <key>time_bar.png</key>
            <dict>
                <key>frame</key>
                <string>{{816,586},{238,83}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{238,83}}</string>
                <key>sourceSize</key>
                <string>{238,83}</string>
            </dict>
            <key>tower_single_rank_tip.png</key>
            <dict>
                <key>frame</key>
                <string>{{816,673},{245,75}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{245,75}}</string>
                <key>sourceSize</key>
                <string>{245,75}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>tower_common.pvr</string>
            <key>size</key>
            <string>{1175,1017}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:60ecfbc6d9af8feb0bb5b66e7a393434:1/1$</string>
            <key>textureFileName</key>
            <string>tower_common.pvr</string>
        </dict>
    </dict>
</plist>
