<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>coin_progress_life.png</key>
            <dict>
                <key>frame</key>
                <string>{{164,107},{254,72}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{254,72}}</string>
                <key>sourceSize</key>
                <string>{254,72}</string>
            </dict>
            <key>hp_heart_wireless.png</key>
            <dict>
                <key>frame</key>
                <string>{{3,3},{157,158}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{157,158}}</string>
                <key>sourceSize</key>
                <string>{157,158}</string>
            </dict>
            <key>new_timeLabel_bg_life.png</key>
            <dict>
                <key>frame</key>
                <string>{{164,3},{390,100}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{390,100}}</string>
                <key>sourceSize</key>
                <string>{390,100}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>unLimitLife.pvr</string>
            <key>size</key>
            <string>{557,182}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:0fb1b947966737dd7405850b215d3ec9:1/1$</string>
            <key>textureFileName</key>
            <string>unLimitLife.pvr</string>
        </dict>
    </dict>
</plist>
