<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>jb10001.png</key>
            <dict>
                <key>frame</key>
                <string>{{37,2},{33,36}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{33,36}}</string>
                <key>sourceSize</key>
                <string>{35,36}</string>
            </dict>
            <key>jb10002.png</key>
            <dict>
                <key>frame</key>
                <string>{{103,2},{29,36}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,0},{29,36}}</string>
                <key>sourceSize</key>
                <string>{35,36}</string>
            </dict>
            <key>jb10003.png</key>
            <dict>
                <key>frame</key>
                <string>{{159,2},{23,36}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,0},{23,36}}</string>
                <key>sourceSize</key>
                <string>{35,36}</string>
            </dict>
            <key>jb10004.png</key>
            <dict>
                <key>frame</key>
                <string>{{184,2},{15,36}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,0},{15,36}}</string>
                <key>sourceSize</key>
                <string>{35,36}</string>
            </dict>
            <key>jb10005.png</key>
            <dict>
                <key>frame</key>
                <string>{{134,2},{23,36}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,0},{23,36}}</string>
                <key>sourceSize</key>
                <string>{35,36}</string>
            </dict>
            <key>jb10006.png</key>
            <dict>
                <key>frame</key>
                <string>{{72,2},{29,36}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,0},{29,36}}</string>
                <key>sourceSize</key>
                <string>{35,36}</string>
            </dict>
            <key>jb10007.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{33,36}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{33,36}}</string>
                <key>sourceSize</key>
                <string>{35,36}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>boxcoin.png</string>
            <key>size</key>
            <string>{202,40}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:b82d13efb0d23ff06652fb9ee866b0cf:1/1$</string>
            <key>textureFileName</key>
            <string>boxcoin.png</string>
        </dict>
    </dict>
</plist>
