<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>ch9_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,0},{1024,256}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1024,256}}</string>
                <key>sourceSize</key>
                <string>{1024,256}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>ch9_13.pvr.ccz</string>
            <key>size</key>
            <string>{1024,256}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:c5d5680630ca4aa1c23feabcf98dae44:1/1$</string>
            <key>textureFileName</key>
            <string>ch9_13.pvr.ccz</string>
        </dict>
    </dict>
</plist>
