<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>oasis_24.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,0},{1024,256}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1024,256}}</string>
                <key>sourceSize</key>
                <string>{1024,256}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>oasis_24.pvr.ccz</string>
            <key>size</key>
            <string>{1024,256}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:61a92c0bd842f257abc91719246c79e4:1/1$</string>
            <key>textureFileName</key>
            <string>oasis_24.pvr.ccz</string>
        </dict>
    </dict>
</plist>
