<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>lv_hard_lock.png</key>
            <dict>
                <key>frame</key>
                <string>{{3,63},{112,80}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{112,80}}</string>
                <key>sourceSize</key>
                <string>{112,80}</string>
            </dict>
            <key>lv_item_lock.png</key>
            <dict>
                <key>frame</key>
                <string>{{3,147},{74,81}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{74,81}}</string>
                <key>sourceSize</key>
                <string>{74,81}</string>
            </dict>
            <key>mission_btn_f.png</key>
            <dict>
                <key>frame</key>
                <string>{{3,3},{122,56}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{122,56}}</string>
                <key>sourceSize</key>
                <string>{122,56}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>graybtn.pvr</string>
            <key>size</key>
            <string>{128,224}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:5a3ad77a160f756a74e1cb6a0e6166f6:1/1$</string>
            <key>textureFileName</key>
            <string>graybtn.pvr</string>
        </dict>
    </dict>
</plist>
