<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>Bubble.png</key>
            <dict>
                <key>frame</key>
                <string>{{1156,1044},{84,86}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{84,86}}</string>
                <key>sourceSize</key>
                <string>{84,86}</string>
            </dict>
            <key>BuyStepPayer_discount_tip.png</key>
            <dict>
                <key>frame</key>
                <string>{{854,1475},{101,91}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{101,91}}</string>
                <key>sourceSize</key>
                <string>{101,91}</string>
            </dict>
            <key>BuyStepPayer_item_10010.png</key>
            <dict>
                <key>frame</key>
                <string>{{1220,1756},{72,72}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{72,72}}</string>
                <key>sourceSize</key>
                <string>{72,72}</string>
            </dict>
            <key>BuyStepPayer_item_10011.png</key>
            <dict>
                <key>frame</key>
                <string>{{1199,1929},{72,72}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{72,72}}</string>
                <key>sourceSize</key>
                <string>{72,72}</string>
            </dict>
            <key>BuyStepPayer_item_10012.png</key>
            <dict>
                <key>frame</key>
                <string>{{1232,1475},{73,72}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{73,72}}</string>
                <key>sourceSize</key>
                <string>{73,72}</string>
            </dict>
            <key>BuyStepPayer_item_10013.png</key>
            <dict>
                <key>frame</key>
                <string>{{1222,1682},{73,72}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{73,72}}</string>
                <key>sourceSize</key>
                <string>{73,72}</string>
            </dict>
            <key>BuyStepPayer_item_10014.png</key>
            <dict>
                <key>frame</key>
                <string>{{1125,1929},{72,72}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{72,72}}</string>
                <key>sourceSize</key>
                <string>{72,72}</string>
            </dict>
            <key>BuyStepPayer_item_10015.png</key>
            <dict>
                <key>frame</key>
                <string>{{1230,1348},{73,72}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{73,72}}</string>
                <key>sourceSize</key>
                <string>{73,72}</string>
            </dict>
            <key>BuyStepPayer_item_numtip.png</key>
            <dict>
                <key>frame</key>
                <string>{{997,1780},{38,38}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{38,38}}</string>
                <key>sourceSize</key>
                <string>{38,38}</string>
            </dict>
            <key>BuyStepPayer_item_rocket.png</key>
            <dict>
                <key>frame</key>
                <string>{{997,1706},{73,72}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{73,72}}</string>
                <key>sourceSize</key>
                <string>{73,72}</string>
            </dict>
            <key>BuyStepPayer_item_x2.png</key>
            <dict>
                <key>frame</key>
                <string>{{1232,1550},{35,35}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{35,35}}</string>
                <key>sourceSize</key>
                <string>{35,35}</string>
            </dict>
            <key>BuyStepPayer_item_x3.png</key>
            <dict>
                <key>frame</key>
                <string>{{898,1663},{36,35}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{36,35}}</string>
                <key>sourceSize</key>
                <string>{36,35}</string>
            </dict>
            <key>BuyStepPayer_itembg.png</key>
            <dict>
                <key>frame</key>
                <string>{{1125,1366},{107,103}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{107,103}}</string>
                <key>sourceSize</key>
                <string>{107,103}</string>
            </dict>
            <key>BuyStepPromotion_itembg.png</key>
            <dict>
                <key>frame</key>
                <string>{{140,1749},{573,179}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{573,179}}</string>
                <key>sourceSize</key>
                <string>{573,179}</string>
            </dict>
            <key>BuyStepPromotion_items.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1434},{532,136}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{532,136}}</string>
                <key>sourceSize</key>
                <string>{532,136}</string>
            </dict>
            <key>BuyStepPromotion_sale.png</key>
            <dict>
                <key>frame</key>
                <string>{{158,455},{608,506}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{608,506}}</string>
                <key>sourceSize</key>
                <string>{608,506}</string>
            </dict>
            <key>Cage.png</key>
            <dict>
                <key>frame</key>
                <string>{{1207,1242},{104,93}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{104,93}}</string>
                <key>sourceSize</key>
                <string>{104,93}</string>
            </dict>
            <key>Cage_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{1125,1829},{98,93}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{98,93}}</string>
                <key>sourceSize</key>
                <string>{98,93}</string>
            </dict>
            <key>Confirm_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{784,2},{465,301}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{465,301}}</string>
                <key>sourceSize</key>
                <string>{465,301}</string>
            </dict>
            <key>ContinueFailBox_descBg.png</key>
            <dict>
                <key>frame</key>
                <string>{{140,1536},{563,211}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{563,211}}</string>
                <key>sourceSize</key>
                <string>{563,211}</string>
            </dict>
            <key>PiggyTowerRank_bar_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{910,842},{552,94}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{552,94}}</string>
                <key>sourceSize</key>
                <string>{552,94}</string>
            </dict>
            <key>PiggyTowerRank_bar_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{1006,842},{552,93}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{552,93}}</string>
                <key>sourceSize</key>
                <string>{552,93}</string>
            </dict>
            <key>PiggyTowerRank_bar_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{140,1930},{552,94}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{552,94}}</string>
                <key>sourceSize</key>
                <string>{552,94}</string>
            </dict>
            <key>PiggyTowerRank_shoulder.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{780,451}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{780,451}}</string>
                <key>sourceSize</key>
                <string>{780,451}</string>
            </dict>
            <key>PiggyTowerRank_up.png</key>
            <dict>
                <key>frame</key>
                <string>{{1230,1423},{45,50}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{45,50}}</string>
                <key>sourceSize</key>
                <string>{45,50}</string>
            </dict>
            <key>arrow.png</key>
            <dict>
                <key>frame</key>
                <string>{{694,1964},{94,80}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{94,80}}</string>
                <key>sourceSize</key>
                <string>{94,80}</string>
            </dict>
            <key>battle_continue_btn_buy.png</key>
            <dict>
                <key>frame</key>
                <string>{{768,521},{529,113}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{529,113}}</string>
                <key>sourceSize</key>
                <string>{529,113}</string>
            </dict>
            <key>battle_continue_five.png</key>
            <dict>
                <key>frame</key>
                <string>{{768,636},{273,204}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{273,204}}</string>
                <key>sourceSize</key>
                <string>{273,204}</string>
            </dict>
            <key>blueNumBg.png</key>
            <dict>
                <key>frame</key>
                <string>{{1043,733},{66,53}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{66,53}}</string>
                <key>sourceSize</key>
                <string>{66,53}</string>
            </dict>
            <key>box.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1968},{75,75}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{75,75}}</string>
                <key>sourceSize</key>
                <string>{75,75}</string>
            </dict>
            <key>bubble_fly.png</key>
            <dict>
                <key>frame</key>
                <string>{{1222,1596},{84,84}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{84,84}}</string>
                <key>sourceSize</key>
                <string>{84,84}</string>
            </dict>
            <key>buyStep_reward_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{876,1706},{119,132}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{119,132}}</string>
                <key>sourceSize</key>
                <string>{119,132}</string>
            </dict>
            <key>buyStep_reward_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{1088,1596},{119,132}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{119,132}}</string>
                <key>sourceSize</key>
                <string>{119,132}</string>
            </dict>
            <key>buyStep_reward_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{954,1585},{119,132}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{119,132}}</string>
                <key>sourceSize</key>
                <string>{119,132}</string>
            </dict>
            <key>buyStep_reward_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{1098,1475},{119,132}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{119,132}}</string>
                <key>sourceSize</key>
                <string>{119,132}</string>
            </dict>
            <key>buyStep_reward_f.png</key>
            <dict>
                <key>frame</key>
                <string>{{768,842},{119,132}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{119,132}}</string>
                <key>sourceSize</key>
                <string>{119,132}</string>
            </dict>
            <key>buy_step_dig_bar.png</key>
            <dict>
                <key>frame</key>
                <string>{{1251,2},{297,55}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{297,55}}</string>
                <key>sourceSize</key>
                <string>{297,55}</string>
            </dict>
            <key>buy_step_dig_bar_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{1230,733},{309,72}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{309,72}}</string>
                <key>sourceSize</key>
                <string>{309,72}</string>
            </dict>
            <key>buy_step_dig_bar_frame.png</key>
            <dict>
                <key>frame</key>
                <string>{{1156,733},{309,72}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{309,72}}</string>
                <key>sourceSize</key>
                <string>{309,72}</string>
            </dict>
            <key>buy_step_dig_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{158,1265},{578,269}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{578,269}}</string>
                <key>sourceSize</key>
                <string>{578,269}</string>
            </dict>
            <key>buy_step_icon.png</key>
            <dict>
                <key>frame</key>
                <string>{{1010,1941},{106,103}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{106,103}}</string>
                <key>sourceSize</key>
                <string>{106,103}</string>
            </dict>
            <key>buy_step_pig_tag.png</key>
            <dict>
                <key>frame</key>
                <string>{{1207,1132},{108,94}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{108,94}}</string>
                <key>sourceSize</key>
                <string>{108,94}</string>
            </dict>
            <key>buy_step_top_mask.png</key>
            <dict>
                <key>frame</key>
                <string>{{158,963},{750,300}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{750,300}}</string>
                <key>sourceSize</key>
                <string>{750,300}</string>
            </dict>
            <key>checkbox_w36_h36.png</key>
            <dict>
                <key>frame</key>
                <string>{{1043,801},{36,36}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{36,36}}</string>
                <key>sourceSize</key>
                <string>{36,36}</string>
            </dict>
            <key>cloud.png</key>
            <dict>
                <key>frame</key>
                <string>{{854,1568},{98,93}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{98,93}}</string>
                <key>sourceSize</key>
                <string>{98,93}</string>
            </dict>
            <key>daily_buy_img_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{1043,636},{250,95}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{250,95}}</string>
                <key>sourceSize</key>
                <string>{250,95}</string>
            </dict>
            <key>egg.png</key>
            <dict>
                <key>frame</key>
                <string>{{875,1961},{80,83}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{80,83}}</string>
                <key>sourceSize</key>
                <string>{80,83}</string>
            </dict>
            <key>gamelost_level.png</key>
            <dict>
                <key>frame</key>
                <string>{{849,1265},{169,59}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{169,59}}</string>
                <key>sourceSize</key>
                <string>{169,59}</string>
            </dict>
            <key>gamelost_targets.png</key>
            <dict>
                <key>frame</key>
                <string>{{784,305},{521,214}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{521,214}}</string>
                <key>sourceSize</key>
                <string>{521,214}</string>
            </dict>
            <key>goldIcon.png</key>
            <dict>
                <key>frame</key>
                <string>{{957,1475},{139,108}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{139,108}}</string>
                <key>sourceSize</key>
                <string>{139,108}</string>
            </dict>
            <key>goldegg.png</key>
            <dict>
                <key>frame</key>
                <string>{{790,1964},{80,83}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{80,83}}</string>
                <key>sourceSize</key>
                <string>{80,83}</string>
            </dict>
            <key>groove_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{821,1731},{228,53}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{228,53}}</string>
                <key>sourceSize</key>
                <string>{228,53}</string>
            </dict>
            <key>groove_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{1101,733},{398,53}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{398,53}}</string>
                <key>sourceSize</key>
                <string>{398,53}</string>
            </dict>
            <key>progress_num_2_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{910,1396},{213,77}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{213,77}}</string>
                <key>sourceSize</key>
                <string>{213,77}</string>
            </dict>
            <key>retry_btn.png</key>
            <dict>
                <key>frame</key>
                <string>{{1010,1829},{113,110}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{113,110}}</string>
                <key>sourceSize</key>
                <string>{113,110}</string>
            </dict>
            <key>retry_btn_gray.png</key>
            <dict>
                <key>frame</key>
                <string>{{1072,1717},{113,110}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{113,110}}</string>
                <key>sourceSize</key>
                <string>{113,110}</string>
            </dict>
            <key>rewardBg.png</key>
            <dict>
                <key>frame</key>
                <string>{{738,1265},{281,109}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{281,109}}</string>
                <key>sourceSize</key>
                <string>{281,109}</string>
            </dict>
            <key>screw.png</key>
            <dict>
                <key>frame</key>
                <string>{{854,1663},{41,42}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{41,42}}</string>
                <key>sourceSize</key>
                <string>{41,42}</string>
            </dict>
            <key>silverIcon.png</key>
            <dict>
                <key>frame</key>
                <string>{{876,1840},{132,108}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{132,108}}</string>
                <key>sourceSize</key>
                <string>{132,108}</string>
            </dict>
            <key>small_x.png</key>
            <dict>
                <key>frame</key>
                <string>{{849,1436},{41,37}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{41,37}}</string>
                <key>sourceSize</key>
                <string>{41,37}</string>
            </dict>
            <key>star_grey.png</key>
            <dict>
                <key>frame</key>
                <string>{{1242,1044},{46,67}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{46,67}}</string>
                <key>sourceSize</key>
                <string>{46,67}</string>
            </dict>
            <key>star_light.png</key>
            <dict>
                <key>frame</key>
                <string>{{79,1968},{46,67}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{46,67}}</string>
                <key>sourceSize</key>
                <string>{46,67}</string>
            </dict>
            <key>step_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{705,1548},{147,181}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{147,181}}</string>
                <key>sourceSize</key>
                <string>{147,181}</string>
            </dict>
            <key>top_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,455},{977,154}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{977,154}}</string>
                <key>sourceSize</key>
                <string>{977,154}</string>
            </dict>
            <key>win_next_btn.png</key>
            <dict>
                <key>frame</key>
                <string>{{715,1731},{231,104}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{231,104}}</string>
                <key>sourceSize</key>
                <string>{231,104}</string>
            </dict>
            <key>win_next_btn_gray.png</key>
            <dict>
                <key>frame</key>
                <string>{{1101,1133},{231,104}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{231,104}}</string>
                <key>sourceSize</key>
                <string>{231,104}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>in_game_else.pvr</string>
            <key>size</key>
            <string>{1308,2046}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:983c899292ec3adba4d2bab1310c7dee:1/1$</string>
            <key>textureFileName</key>
            <string>in_game_else.pvr</string>
        </dict>
    </dict>
</plist>
