<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>three.png</key>
            <dict>
                <key>frame</key>
                <string>{{549,198},{276,203}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{276,203}}</string>
                <key>sourceSize</key>
                <string>{276,203}</string>
            </dict>
            <key>unlock_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{3,3},{542,481}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{542,481}}</string>
                <key>sourceSize</key>
                <string>{542,481}</string>
            </dict>
            <key>unlock_btn.png</key>
            <dict>
                <key>frame</key>
                <string>{{756,198},{363,105}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{363,105}}</string>
                <key>sourceSize</key>
                <string>{363,105}</string>
            </dict>
            <key>unlock_star1.png</key>
            <dict>
                <key>frame</key>
                <string>{{943,307},{79,82}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{79,82}}</string>
                <key>sourceSize</key>
                <string>{79,82}</string>
            </dict>
            <key>unlock_star2.png</key>
            <dict>
                <key>frame</key>
                <string>{{756,307},{183,183}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{183,183}}</string>
                <key>sourceSize</key>
                <string>{183,183}</string>
            </dict>
            <key>unlock_tip.png</key>
            <dict>
                <key>frame</key>
                <string>{{549,3},{557,191}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{557,191}}</string>
                <key>sourceSize</key>
                <string>{557,191}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>unlock.pvr</string>
            <key>size</key>
            <string>{1122,493}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:f3c84d0706116cd188b24b69b67a8a17:1/1$</string>
            <key>textureFileName</key>
            <string>unlock.pvr</string>
        </dict>
    </dict>
</plist>
