<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>gd_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{87,41},{37,37}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,1},{37,37}}</string>
                <key>sourceSize</key>
                <string>{39,39}</string>
            </dict>
            <key>gd_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{87,2},{37,37}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,1},{37,37}}</string>
                <key>sourceSize</key>
                <string>{39,39}</string>
            </dict>
            <key>gd_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{33,39}}</string>
                <key>offset</key>
                <string>{-2,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{33,39}}</string>
                <key>sourceSize</key>
                <string>{39,39}</string>
            </dict>
            <key>gd_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{35,43},{31,39}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,0},{31,39}}</string>
                <key>sourceSize</key>
                <string>{39,39}</string>
            </dict>
            <key>gd_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,84},{31,39}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,0},{31,39}}</string>
                <key>sourceSize</key>
                <string>{39,39}</string>
            </dict>
            <key>gd_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,43},{31,39}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,0},{31,39}}</string>
                <key>sourceSize</key>
                <string>{39,39}</string>
            </dict>
            <key>gd_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{37,2},{27,39}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,0},{27,39}}</string>
                <key>sourceSize</key>
                <string>{39,39}</string>
            </dict>
            <key>gd_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{66,2},{19,39}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,0},{19,39}}</string>
                <key>sourceSize</key>
                <string>{39,39}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>goldCoin.png</string>
            <key>size</key>
            <string>{128,128}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:9023e5c98a1818172af774455089e8da:1/1$</string>
            <key>textureFileName</key>
            <string>goldCoin.png</string>
        </dict>
    </dict>
</plist>
